In [1]:
import pandas as pd
pd.read_xml(test.xml)

In [2]:
import seaborn as sns

In [3]:
df=sns.load_dataset("tips")

In [5]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
import pickle

In [7]:
filename= "file.pkl"

In [8]:
## serialise process
pickle.dump(df,open(filename,'wb'))

In [10]:
##unserialize
df=pickle.load(open(filename,'rb'))

In [11]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
type(df)

pandas.core.frame.DataFrame